<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="accessId" value="AKIASKUR6LMB7PQ3GD6E"/>
    <add key="secretKey" value="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"/>
  </appSettings>
</configuration>